@import "tailwindcss";

:root {
  --bg-primary: #f3f4f6;
  --bg-secondary: #e5e7eb;
  --bg-card: #ffffff;
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;
}

html.dark {
  --bg-primary: #111827;
  --bg-secondary: #1f2937;
  --bg-card: #374151;
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --border-color: #4b5563;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}